{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-xxl flex-grow-1 container-p-y">
		<h3>Listes des livres</h3>
		<a href="{{url('app_ajouter_livre')}}"><button type="button" class="btn rounded-pill btn-primary">Ajouter</button></a>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Numero</th>
					<th>Nom livre</th>
					<th>Auteur livre</th>
					<th>Reference</th>
                    <th>Ouvrage</th>
                    <th>Année de publication</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for livre in livres %}
					<tr>
						<td>{{loop.index}}</td>
						<td>{{livre.nomLivre}}</td>
						<td>{{livre.auteurLivre}}</td>
                        <td>{{livre.reference}}</td>
                        <td>{{livre.ouvrage}}</td>
                        <td>{{livre.getAnneePublication()|date('d-m-Y')}}</td>
						<td>
                            <a class="btn rounded-pill btn-warning" href="{{url('app_modifier_livre', {'id':livre.id})}}">Modifier</a>
							<a class="btn rounded-pill btn-danger" href="{{url('app_supprimer_livre', {'id':livre.id})}}">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
